{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": ["./tsconfig.json"],
    },
    "plugins": [
      "@typescript-eslint/eslint-plugin"
    ],
    "extends": [
      "plugin:json-schema-validator/recommended"
    ],
    "overrides": [
      {
        "files": ["*.json"],
        "parser": "jsonc-eslint-parser"
      },
    ],
    "rules": {
      "json-schema-validator/no-invalid": [
        "error",
        {
            "schemas": [
                {
                  "fileMatch": ["**/manifest.json"],
                  "schema": "./src/schema-validate/manifest.schema.json"
                }
            ],
            "useSchemastoreCatalog": false
        }
      ],
      "no-enum-direct-usage": "warn",
    }
  }